/* App.css */

h1 {
  color: #616060;
}

input,
textarea {
  font-family: inherit;
  font-size: 16px;
}

button {
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
}

.App {
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.saveNotesButton{
  margin-left: 85%;
  float: left;
  margin-top: 3%;
}

.form-div{
  height: 30%;
  width: 50%;
  margin: 4% 20% 20% 17%;
  z-index: 1;
  background-color: #e5e5e5;
  border-radius: 15px;
  position: absolute;
  padding: 3%;
}

.form-div * 
{
  margin-top: 2%;
}

.form-div h2{
  margin-top: -2%;
  margin-bottom: 2%;
}

.note-item {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #e7f1ff;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.note-item button:hover {
  background-color: #c0392b;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

form input,
form textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: vertical;
}

form button {
  align-self: flex-start;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #2980b9;
}

.search-bar {
  display: flex;
  margin-bottom: 20px;
  margin: 1% 2%;
}

.search-bar input {
  padding: 10px;
  width: 100%;
  max-width: 400px;
  border: 1px solid #ddd;
  border-radius: 5px;
  
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  float: left;
  margin: 1% 2%;

}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  transition: background-color 0.3s ease;
}

.pagination button.active {
  background-color: #3498db;
  color: #fff;
}

.pagination button:hover:not(.active) {
  background-color: #ecf0f1;
}

@media (max-width: 600px) {
  .App {
    margin: 10px;
    padding: 10px;
  }

  .note-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .note-item button {
    margin: 5px 0;
  }

  form button {
    width: 100%;
  }
}

body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background-color: #f7f8fc;
}

.container {
    display: flex;
    
}

.sidebar {
    width: 80px;
    background-color: #f2f2f2;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    border-radius: 15px;
}

.sidebar img {
    width: 30px;
    height: 30px;
}

.content {
    flex: 1;
    padding: 2%;
    float: left;
    background-color: #fefefe !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
    margin-left: 2%;
    border-radius: 15px;
}

.content-data{
margin-top: 7%;

}

.search-bar {
    margin-bottom: 20px;
    width: 100%;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.notes-grid {
    display: grid;
    width: 28%;
    margin: 1% 2%;
    gap: 20px;
    float: left;
}

.note-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.note-card h3 {
    margin: 0;
    font-size: 16px;
    margin-bottom: 10px;
}

.datetime {
  margin-top: 10% !important;
  margin-bottom: 0% !important;
  width: 100%;
  font-size: 14px;
  color: #5d5d5d;
}

.note-card .date {
    
    font-size: 12px;
    color: #aaa;
}

.note-card .edit-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 22px;
    height: 22px;
    padding: 5px;
    background-color: #555353;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
}

.delete-icon {
  position: absolute;
  top: 10px;
  right: 55px !important;
  width: 22px;
  height: 22px;
  padding: 5px;
  background-color: #555353;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
}

.note-card[data-color="yellow"] {
    background-color: #ffe6a2;
}

.note-card[data-color="red"] {
    background-color: #ff9e9e;
}

.note-card[data-color="green"] {
    background-color: #d4f8d4;
}

.note-card[data-color="purple"] {
    background-color: #e5d4f8;
}

.note-card[data-color="blue"] {
    background-color: #d4e8f8;
}

.node-list{
  width: 100%;
  float: left;
}

.note {
  margin: 1% 2%;
}
.btn-color {
  color: red;
}

.sidebar button {
  font-size: 25px;
  border-radius: 5px;
}


.icon-image {
  height: 60px;
  padding-left: 30px;
}

.icon-header {
  display: flex;
  padding-right: 40px;
}